asgiref==3.11.1
Django==6.0.6
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
psycopg2-binary==2.9.12
python-dotenv==1.2.2
sqlparse==0.5.5
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.0
